<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kot.model.dao.MatchResultDao">

	<insert id="insertMatch" parameterType="MatchResult">
		INSERT INTO MatchResult
		VALUES (0, #{matchId}, #{user1}, #{user2}, now(), null, null)
	</insert>

	<select id="nowMatch" resultType="MatchResult">
		SELECT matchresult.*, user.name AS user1Name, user.phone AS user1Phone, u2.name AS user2Name, u2.phone AS user2Phone
		FROM matchresult
		LEFT JOIN user ON matchresult.user1 = user.loginId
		LEFT JOIN user u2 ON matchresult.user2 = u2.loginId
		WHERE (user1=#{loginId} OR user2=#{loginId}) AND result IS NULL
	</select>
	
	<update id="finishMatch" parameterType="MatchResult">
		UPDATE user
		SET status = false
		WHERE loginId=#{user1} or loginId=#{user2}
	</update>
	
	<update id="updateResult" parameterType="MatchResult">
		UPDATE matchResult
		SET fdate=#{fdate} and result=#{result}
		WHERE (user1=#{loginId} or user2=#{loginId}) and result IS NULL
	</update>
	
	<select id="oppoPastMatching" resultType="MatchResult">
		SELECT * FROM MatchResult
		WHERE (user1=#{user1} and user2=#{user2}) or (user1=#{user2} and user2=#{user1})		
	</select>
	
	<select id="pastMatching" resultType="MatchResult">
		SELECT * FROM MatchResult
		WHERE user1=#{loginId} or user2=#{loginId}
	</select>

</mapper>