<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kot.model.dao.MatchWaitDao">

	<insert id="sendWait" parameterType="MatchWait">
		INSERT INTO MatchWait
		VALUES (0, #{userId}, #{sender}, #{receiver}, false, false, now())
	</insert>
	
	<update id="acceptWait" parameterType="MatchWait">
		UPDATE MatchWait
		SET matchWait_match = true
		WHERE receiver=#{receiver} and sender=#{sender}
	</update>
	
	<update id="deleteAllWait" parameterType="MatchWait">
		UPDATE MatchWait
		SET matchWait_status = true
		WHERE receiver=#{receiver} or receiver=#{sender} or sender=#{receiver}
	</update>
	
	<update id="startMatch" parameterType="MatchWait">
		UPDATE user
		SET status = true
		WHERE loginId=#{sender} or loginId=#{receiver}
	</update>
	
	<insert id="insertMatch" parameterType="MatchResult">
		INSERT INTO MatchResult
		VALUES (0, #{matchId}, #{user1}, #{user2}, now(), null, null)
	</insert>
	
	<update id="deleteWait" parameterType="MatchWait">
		UPDATE MatchWait
		SET matchWait_status = true
		WHERE receiver=#{receiver} and sender=#{sender}
	</update>
	
	<select id="receivedWait" resultType="MatchWait">
		SELECT * FROM matchWait
		WHERE receiver=#{loginId}
	</select>
	
	<select id="sentWait" resultType="MatchWait">
		SELECT * FROM matchWait
		WHERE sender=#{loginId}
	</select>

</mapper>