<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kot.model.dao.MatchWaitDao">

	<insert id="sendWait" parameterType="MatchWait">
		INSERT INTO MatchWait
		VALUES (0, #{userId}, #{sender}, #{receiver}, false, false, now())
	</insert>
	
	<update id="acceptWait" parameterType="MatchWait">
		UPDATE MatchWait
		SET `match` = true
		WHERE receiver=#{receiver} and sender=#{sender} and status=false
	</update>
	
	<update id="deleteAllWait" parameterType="MatchWait">
		UPDATE MatchWait
		SET status = true
		WHERE receiver=#{receiver} or receiver=#{sender} or sender=#{receiver} or sender=#{sender}
	</update>
	
	<update id="startMatch" parameterType="MatchWait">
		UPDATE user
		SET status = true
		WHERE loginId=#{sender} or loginId=#{receiver}
	</update>
	
	<insert id="insertMatch" parameterType="MatchResult">
		INSERT INTO MatchResult
		VALUES (0, #{matchId}, #{sender}, #{receiver}, now(), null, null)
	</insert>
	
	<update id="deleteWait" parameterType="MatchWait">
		UPDATE MatchWait
		SET status = true
		WHERE receiver=#{receiver} and sender=#{sender}
	</update>
	
	<select id="receivedWait" resultType="MatchWait">
		SELECT matchwait.*, user.name AS senderName, user.phone as senderPhone, u2.name as receiverName, u2.phone as receiverPhone
		FROM matchwait
		LEFT JOIN user ON matchwait.sender = user.loginId
		LEFT JOIN user u2 ON matchwait.receiver = u2.loginId
		WHERE receiver=#{loginId} and matchwait.status=false
	</select>
	
	<select id="sentWait" resultType="MatchWait">
		SELECT matchwait.*, user.name AS senderName, user.phone as senderPhone, u2.name as receiverName, u2.phone as receiverPhone
		FROM matchwait
		LEFT JOIN user ON matchwait.sender = user.loginId
		LEFT JOIN user u2 ON matchwait.receiver = u2.loginId
		WHERE sender=#{loginId} and matchwait.status=false
	</select>

</mapper>